<div class="row">
  <div class="container col-sm-offset-5 col-sm-2">
    <h1>NEMESIS</h1>
  </div>
</div>
<div class="row">
  <nav class="nemesis-navbar col-md-offset-3 col-md-6">
    <div class="">
      <div id="navbar" class="">
        <ul class="nav nav-justified">
          <li class="active"><a href="#">Work</a></li>
          <li><a href="#">Shop</a></li>
          <li><a href="#">Process</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
</div>

